{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Manufactured goods in Kenya</title>
  <!-- Bootstrap stylesheet -->
  <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
  <!-- crousel css -->
  <link href="js/owl-carousel/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <!--bootstrap select-->
  <link href="js/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900%7CPT+Serif:400,700" rel="stylesheet">
  <!-- font-awesome -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/ele-style.css" rel="stylesheet" type="text/css"/>
  <!-- stylesheet -->
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="css/style_cyan.css" title="style_cyan" rel="alternate stylesheet" type="text/css"/>
  <link href="css/style_red.css" title="style_red" rel="alternate stylesheet" type="text/css"/>
  <link href="css/style_green.css" title="style_green" rel="alternate stylesheet" type="text/css"/>
  <link href="css/style_blue.css" title="style_blue" rel="alternate stylesheet" type="text/css"/>
  </head>
  <body class="header3">
    <header id="header-wrap">
      </header>
      {% block content %}{% endblock %}

<!-- footer start here -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
        <div class="inner">
          <img src="images/header3/footer-logo.png" class="img-fluid" title="logo" alt="logo">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue quis quam eget efficitur. Vestibulum venenatis tortor ipsum, at venenatis tellus aliquet eu. Orci varius natoque penatibus...</p>
          <ul class="list-unstyled contact">
            <li>
              <a href="contactus.html">
                <i class="fa fa-map-marker"></i> No 60 Lorem Street 6/2 Ludhiana city, India.
              </a>
            </li>
            <li>
              <a href="contactus.html">
                <i class="icon_phone"></i> Phone - +123 456 7890
              </a>
            </li>
            <li>
              <a href="contactus.html">
                <i class="fa fa-envelope"></i> Email - organicfoods@gmail.com
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
        <div id="newsletter">
          <h6>Newsletter</h6>
          <p>Enter your address for our mailing list to keep your update</p>
          <form class="form-horizontal" name="subscribe">
            <div class="form-group">
              <div class="input-group">
                <input  value="" name="subscribe_email" id="subscribe_email" placeholder="Email" type="text">
                <button class="btn btn-news" type="submit" value="submit">Subscribe Now</button>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 cat">
            <h5>Stay Connected</h5>
            <hr>
            <ul class="list-unstyled social">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="social_facebook"></i> Facebook
                  </a>
                  </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="social_twitter"></i> Twitter
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <i class="social_googleplus"></i> Google+
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/" target="_blank">
                  <i class="social_youtube"></i> Youtube
                </a>
              </li>
              <li>
                <a href="https://in.linkedin.com/" target="_blank">
                  <i class="social_linkedin"></i> Linked In
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 cat">
            <h5>Categories</h5>
            <hr>
            <ul class="list-unstyled">
              <li>
                <a href="#">Vegetables</a>
              </li>
              <li>
                <a href="#">Fruits</a>
              </li>
              <li>
                <a href="#">Meats</a>
              </li>
              <li>
                <a href="#">Organic Foods</a>
              </li>
              <li>
                <a href="#">Others</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 cat">
            <h5>my account</h5>
            <hr>
            <ul class="list-unstyled">
              <li>
                <a href="login_register.html">My Account</a>
              </li>
              <li>
                <a href="#">Discount</a>
              </li>
              <li>
                <a href="#">Person information</a>
              </li>
              <li>
                <a href="#">Order History</a>
              </li>
              <li>
                <a href="#">Wishlist</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <h5>portfolio</h5>
            <hr>
            <ul class="list-inline port">
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
              <li>
                <img src="assets/images/header3/port1.png" class="img-fluid" alt="img" title="img" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="powered">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
          <p>© Copyright 2017, <span>Organic foods & fruits.</span>  All Rights Reserved.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
          <ul class="list-inline">
            <li>
              <img src="assets/images/card1.png" class="img-fluid" alt="card" title="card" />
            </li>
            <li>
              <img src="assets/images/card2.png" class="img-fluid" alt="card" title="card" />
            </li>
            <li>
              <img src="assets/images/card3.png" class="img-fluid" alt="card" title="card" />
            </li>
            <li>
              <img src="assets/images/card4.png" class="img-fluid" alt="card" title="card" />
            </li>
            <li>
              <img src="assets/images/card5.png" class="img-fluid" alt="card" title="card" />
            </li>
            <li>
              <img src="assets/images/card6.png" class="img-fluid" alt="card" title="card" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end here -->
<!-- jquery -->
<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
<!-- bootstrap js -->

<script src="js/popper.min.js" type="text/javascript"></script>
<script src="bootstrap4/js/bootstrap.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="js/dist/js/bootstrap-select.js"></script>
<!--internal js-->
<script src="js/owlinternal.js"></script>
<!-- owlcarousel js -->
<script src="js/holder.min.js" type="text/javascript"></script>
<script src="js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script src="js/switcher.js"></script>

{% block scripts %} {% endblock %}
</body>
</html>
